body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .App {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .App .body {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  
  .body .sidebar {
    order: -1;
    max-width: 12em;
    flex-grow: 0;    
    flex-shrink: 0;  
    flex-basis: 12em;
  }
  
  .App .header,
  .App .footer {
    height: 4em;
  }
  
  .body .content {
    flex: 1;
  }
  
  .body .sidebar {
    max-width: 12em;
    flex: 0 0 12em;
  }
  
  /** Text */
  .text-red {
    color: red;
  }