.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 99, 167);  
  }
  
  .footer-container {
    color: white;
  }

  .footer-container a {
    color: #eee;
  }